In [34]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 15 
page_size = 100 #How many reviews we intend to scrape per page
reviews = [] #list to hold all our reviews


max_retries = 7 #How many times we wan't our script to try scrape the data [ poor network problems :( ]

for i in range(1, pages + 1):
    print(f"Currently scraping page {i}") #Let's me know my script actually works and how far it's gone

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    retries = 0  # Initialize the retry counter

    while retries < max_retries: #retries till it has made 7 attempts
        try:
            
            response = requests.get(url)

            # Check if the response status code is 200 (OK)
            if response.status_code == 200:
        
                content = response.content
                soup = BeautifulSoup(content, 'html.parser') #Creating the soup that contains all our text

                for para in soup.find_all("div", {"class": "text_content"}):
                    reviews.append(para.get_text()) #appends the reviews we find into a reviews list

                print(f"   ---> {len(reviews)} total reviews") #tells me how many reviews i have so far
                break  # Exit the retry loop if successful

        except requests.exceptions.RequestException as e:
            print(f"Error retrieving page {i} - Retry {retries + 1}: {e}")

        # Increment the retry counter
        retries += 1 #increases the number of tries

    if retries == max_retries: #to let me know my network is terrible or the website has issues
        print(f"Failed to retrieve page {i} after {max_retries} retries.")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews

In [41]:
import pandas as pd
Rev_df = pd.DataFrame({'Reviews': reviews})
Rev_df.head()

                                             Reviews
0  ✅ Trip Verified | First time flying British Ai...
1  Not Verified |  I flew London to Cairo and ret...
2  Not Verified |  Absolutely the worst experienc...
3  Not Verified |   Flew back from Malta after sc...
4  Not Verified | Cabin luggage had to go to carg...

In [48]:
Rev_df['Reviews'] = Rev_df['Reviews'].str.split('|', expand=True)[1] #Splits the text in each row and selects the second split only

In [50]:
Rev_df.head()

                                             Reviews
0   First time flying British Airways and I would...
1    I flew London to Cairo and return in October...
2    Absolutely the worst experience ever.  Flew ...
3     Flew back from Malta after scattering our s...
4   Cabin luggage had to go to cargo, even when I...